{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<br>
<div class="text-center">
    <h3>Create a new account!</h3>
    <hr>
    <br>
</div>

<form action='' method='POST'>
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Log In</button>
    </div>
    {% endbuttons %}
    <!-- {{ form.as_p }} -->
    <!-- <input type="submit" value="submit"> -->
</form>
{% endblock %}