{% extends 'base.html' %} 
{% block content %}
{% if user.is_authenticated %}
<br>
<h3 class='text-left'>
    welcome {{ request.user }}
</h3>
<p class='bootstrap_label text-left'>
    <a href="/accounts/{{request.user.id}}/">go to my profile</a>
    <br>
    <a href="/notifications/">view notifications</a> {{ notifications.notifications }}
    <br>
    following:
    {% for item in user.following.all %}
        {{ item }}
    {% endfor %}
</p>
<div class="tweets">
    {% for tweet in news %}
        {%  if tweet.user in user.following.all %}
        
        <div class="card">
            <a class="card-header" href="/accounts/{{ tweet.user.id }}/" >{{ tweet.user }}</a>
            <a href="/tweet/{{ tweet.id }}/">
                <div class="card-body">{{ tweet.text }}<br></a>{{ tweet.date_posted}}</div>
        </div>
        {%  elif tweet.user == request.user %}
        <div class="card"></div>
            <a class="card-header" href="/accounts/{{ tweet.user.id }}/">{{tweet.user }}</a> 
            <a href="/tweet/{{ tweet.id }}/">
                <div class="card-body">{{ tweet.text }}</a>   
            <br>{{ tweet.date_posted}}</div>
              
        {% endif %}
    {% endfor %}
</div>
{% else %}
<br>
<div class="text-center">
    <h3><a href="/accounts/login/">please log in to proceed</a></h3>
</div>
{% endif %}
{% endblock %}